*{
    user-select: none;
    cursor: default;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    width: 50vw;
    height: 80vh;
    flex-direction: column;
}

#audio_player{
    display: flex;
    flex-direction: column;
}

/*#vis{
    width: 100%;
    height: 80%;
}*/

/*
#visualizer{
    display: block;
    
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    
    
}
*/

/*#vis{
    padding: 20px;
}